/provisioning/target/
/api/target/
/ext/org.jppf.common/target/
/org.jppf.common/target/
/org.jppf.client/target/
/org.jppf.node/target/
/org.jppf.common-node/target/
/org.jppf.server/target/

/provisioning/nbactions.xml

#ignore backup files
*~
/node/target/
/driver/target/
/cli/target/
