/provisioning/target/
/api/target/
/node/target/
/driver/target/
/cli/target/
/node-common/target/
/integration-tests/target/

#ignore backup files
*~

#ignore logs
*.log

#ignore netbeans files
nbactions.xml

#ignore eclipse files
*.cache
*.classpath
*.project
*.settings

.gitignore
